html body {
    margin: 0;
    padding: 0;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    font-family: JosefinSans;
    cursor: default;
}

a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.header h1 {
    text-align: center;
    font-family: Questrial;
    font-size: 6vw;
    color: white;
    cursor: default;
}

.body {
    text-align: center;
    padding: 5vh 0 5vw 0;
    margin: 0 10vw 10vh 10vw;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.subbody {
    background-color: rgba(64, 64, 66, 1);
    color: white;
    border-radius: 50px;
    margin: 0 5vw 0 5vw;
    padding: 5vh 0 0 0;
}

/*COPYRIGHT*/

#copyright {
    overflow: hidden;
    margin-top: 5vh;
    padding: 2em 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
}

#copyright p {
    letter-spacing: 1px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.6);
}

#copyright a {
    display: inline;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1024px) {
    .header h1 {
        font-size: 13vw;
    }

    .body {
        margin: 0 2vw 10vh 2vw;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 5vh 0 2vw 0;
    }

    .subbody {
        margin: 0 2vw 0 2vw;
        border-radius: 25px;

    }
}
