.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vh 10vw;
    justify-content: space-around;
}

.gallery .item {
    margin: 2vh 0;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #202125;
    border-radius: 10px;
    transition: 0.8s;
}
.gallery .item:hover{
    transform: scale(1.05,1.05)
}
.gallery .item .image {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    width: 10vh;
}

.gallery .item .image img {
    width: 100%;
    border-radius: 100px;
}

.text {
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text h1 {
    margin: 2vh 0;
    padding: 0;
    font-size: 3vh;
}

.text h2 {
    text-align:center;
    margin: 0 0 2vh 0;
    padding: 0;
    font-size: 2vh;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8)
}
@media screen and (max-width: 1024px) {
    .gallery{
        flex-direction: column;
        margin: 2vh 5vw;
            
    }
    .gallery .item{
        width: 100%;
    }
    .text{
        width: auto;
    }
    .text h1{
        font-size: 2.5vh;
    }
    .text h2{
        font-size: 1.5vh;
    }
}