h1 {
    text-align: center;
    font-size: 7vh;
}

h2 {
    padding: 0 5vw;

    font-size: 4vh;
    color: deepskyblue;
    font-weight: 100;
    font: Questrial;
    margin: 0;
}

h3 {
    padding: 0 5vw;

    font-size: 3vh;
    margin: 1vh 0 0vh 0;
}

img {
    width: 100%;
}

#screenshot {
    margin: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#screenshot img {
    height: 50vh;
    width: auto;
    transition: 2s;
    margin: 1vh 1vw;

}

.desbox {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0 3vw 2vh 3vw;
    padding: 2vh 0;
    border-style: dashed;
    display: flex;
    flex-direction: row;

}

.item {
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
    border-radius: 10px;
    background-color: #027DEA;
    border: none;
    color: white;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: Questrial;
    
    font-size: 1vw;
    cursor: pointer;
    padding: 14px 32px;
    transition: 1s;
    
}
.button:hover{
    transform: scale(1.2,1.2);
}

@media screen and (max-width: 1024px) {
    .desbox {
        flex-direction: column;
    }

    #screenshot img {
        height: 23vh;
    }

    h1 {
        font-size: 5vh;
    }

    h2 {
        font-size: 4vh;
        margin: 5vh 0 1vh 0;
    }

    h3 {
        font-size: 3vh;
        margin: 1vh 0 5vh 0;
    }

    .button {
        font-size: 2vh;
    }
}
